.container{
    display: flex;
    gap: 20px;
    flex-direction: column;
    background-color: var(--bgSoft);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    cursor: pointer;
}

.container:hover{
    background-color: #2e374a;
}

.texts{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.title{
    font-size: 24px;
    font-weight: 200;
    color: var(--textSoft);
}

.number{
    color: var(--textSoft);
    font-size: 15px;
}

.detail{
    font-size: 15px;
    font-weight: 200;
    color: white;

}

.positive{
    color: lime;
}

.negative{
    color: red;
}